<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel="alternate" type="application/rss+xml" title="Forum's latest discussions" href="{$main_url}/rss2.php">
<head>
<title>{$title}</title>
<meta name="ROBOTS" content="{$metaRobots}" />
{$l_meta}
<meta name="Description" content="{$description}" /> 
<meta name="Keywords" content="build make start my own free custom paid web discussion easy small mini forum software download site web best bulletin board boards bb php online mysql database mod rewrite mod_rewrite open source gpl customize integrate seo google search engine embed conference postgresql" /> 
<meta name="Document-state" content="Dynamic" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<link href="{$main_url}/bb_{$skin}_style.css" type="text/css" rel="STYLESHEET" />
</head>
<body class="gbody">
<a name="top"></a>

<table style="width:100%;padding:0px;margin:0px;border-collapse:collapse">
<tr><td style="background-color:#4967A0;">

<table class="forums">
<tr class="tbHead">
<td style="padding-bottom:8px;">&nbsp;</td>
<td rowspan="3" style="width:100%;text-align:right">&nbsp;</td>
</tr>
<tr class="tbHead">
	<td style="text-align:left;vertical-align:bottom;white-space:nowrap"><a href="{$main_url}" style="text-decoration:none"><img src="{$main_url}/img/mini_bb.gif" style="width:750px;height:82px;" alt="miniBB &reg;" title="miniBB &reg;" /></a></td>
</tr>
<tr>
<td style="padding-top:8px;">&nbsp;</td>
</tr>
</table>

</td></tr>
<tr><td style="background-image:url({$main_url}/img/menubg.jpg);background-repeat:repeat-x">

<table class="forumsmb">
<tr class="tbHead">
<td class="capMenu">&nbsp;{$l_sepr}&nbsp;{$l_menu[0]}{$l_menu[2]}{$l_menu[5]}{$l_menu[7]}{$l_menu[1]}{$l_menu[3]}<!--{$l_menu[4]}-->{$l_menu[6]}</td>
<td style="width:30%;background-image:url({$main_url}/img/menubg.jpg);background-repeat:repeat-x"><img src="{$main_url}/img/p.gif" style="width:1px;height:20px" alt="" /></td>
</tr>
</table>

</td></tr></table>
